.heading{
    
    width: 229.04px;
    height: 34.02px;
    background: #5F176A;
    margin-left: 6rem;
    margin-bottom: 1rem;

}
.icon{
    width: 20px;
    height: 20px;
   
}
.create{
    font-family: 'HP Simplified Hans';
    font-style: normal;
    color: #ffff;
    width: 70%;
    float: right;
    font-weight: 400;
    font-size: larger;
    margin-right: 22px;
}

.labelss{
    font-family: 'HP Simplified Hans';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 49px;



color: #FFFFFF;
}

.input-form{
background: #B26FC2;

color: #FFFFFF;
}
.input-form:focus{
    background: #B26FC2;
    color: #FFFFFF;
}


.All-form{
    height: 35em;
    width: 24em;
    margin-top: 7em;
}
.btn-create{
    background: #A822BE;
    font-size: larger;
    font-family: 'HP Simplified Hans';
font-style: normal;
    
}