
  <section>

    <div class="container-fluid ">
        <div class="row">
            <div class="all">
                
               <div class="text-center heading">
                <h1 class="heading_style">
                    IHRD
                </h1>
                <h1 class="heading_style2">
                    COLLEGE
                </h1>
               </div>
                <div class="login_box col-md-6  col-xl-3   ">
                    <form action="" method="post">
                        
                        
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label collageid">College ID</label><br>
                            <input type="text" class="form-control inp " id="exampleFormControlInput1" placeholder="IHRD01234" oninput="this.value = this.value.toUpperCase()">
                          </div>
                          <div class="mb-3 ">
                            <label for="exampleFormControlInput1" class="form-label collage-password"> Password</label><br>
                            <input type="password" class="form-control inp " id="exampleFormControlInput1" placeholder="Enter your password">
                          </div>
                          <div class="mb-3 text-center">
                            <button type="button" class="btn  button">LOGIN</button>
                          </div>
                    </form>
    
                </div>
            </div>
        </div>
        

        


    </div>
  
</section>
   <link rel="stylesheet" href="/stylesheets/login/login.css" type="">

  



    
 
 