

    <div class="container-fluid" style="background: #80379A; min-height: 46rem;" >
        <div class="row">
            <div class="col-7">
                
            </div>
            <div class="col ">
                <div class="All-form  mx-auto">

                
               <div class="heading  rounded-2 ">
                 <img src="user-graduate-solid.svg" alt="" class="icon ms-2">

                 <p class="create ">Create new student</p>
               </div>
    

               <form action="student-register" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="labelss">Enter name</label>
                  <input type="text" class="form-control input-form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" name="name">
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="labelss">Collage Id</label>
                  <input type="text" class="form-control input-form" id="exampleInputPassword1" placeholder="CZASUS023"  oninput="this.value = this.value.toUpperCase()" name="collageid">
                </div>
                <div class="mt">
                    <label  class="labelss" >course</label>
                    <select class="form-control input-form" name="course">
                        <option value="">Select </option>
                        <option value="Bsc Computer science">Bsc Computer science</option>
                        <option value="Bsc Electronics">Bsc Electronics</option>
                        <option value="Bcom">Bcom</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="labelss">Email Id</label>
                    <input type="email" class="form-control input-form" id="exampleInputPassword1" placeholder="minnalnoushu@gmail.com" name="email"> 
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1" class="labelss">Password</label>
                    <input type="password" class="form-control input-form" id="exampleInputPassword1" placeholder="Password" name="password"> 
                  </div>

                
               <div class="text-center">
               

                <input type="submit" class="btn  w-50 rounded-5 text-light mt-3 h3 btn-create" value="Create Account">
           
               </div>

               </form>
             </div>
            </div>

        </div>
    </div>
    <link rel="stylesheet" href="/stylesheets/login/student.css" type="">
   